@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Triston's Gaming!</h1>
<div class="table-responsive-lg">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Product Type</th>
      <th scope="col">Typical Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Playstation Games</td>
      <td>$59.99</td>
    </tr>
    <tr>
      <td>Gaming Lessons</td>
      <td>$2000/hour</td>
    </tr>
  </tbody>
</table>

</div>